{% load i18n static %}
<!DOCTYPE html>{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
  <script>
    function insertRow(id){
      // テーブル取得
      var table = document.getElementById(id);
      // 行を行末に追加
      var row = table.insertRow(-1);
      // セルの挿入
      var cell1 = row.insertCell(-1);
      var cell2 = row.insertCell(-1);
      var cell3 = row.insertCell(-1);
  
      // ボタン用 HTML
      var button ='<input type="button" vakue="行削除", onclick="deleteRow(this)"/>'
  
      // 行数取得
      var row_len = table.rows.length;
  
      // セルの内容入力
      cell1.innerHTML = button;
      cell2.innerHTML = row_len + "-" + 1;
      cell3.innerHTML = row_len + "-" + 2;
  
    }
  
  // 行削除
  function deleteRow(obj){
    // 削除ボタンを押下された行を取得
    tr = obj.parentNode.parentNode;
  
    // trのインデックスを取得して行を削除する
    tr.parentNode.deleteRow(tr.sectionRowIndex);
  }
  
  // 列追加
  function insert_column(id){
    // テーブル取得
    var table = document.getElementById(id);
 
    // 各行末尾にセルを追加
    // 1行目
    table.rows[0].deleteCell(-1); // 追加ボタンを一旦削除
    var cell = table.rows[0].insertCell(-1);
    html_player_id_form = '<input class="form-control" type="text" value="{{ player_id }}"  name="player_id">'
    cell.innerHTML = html_player_id_form;

    // 2行目
    var cell = table.rows[1].insertCell(-1);
    html_shoot_order_form = '<input class="form-control" type="text" value="" name="shoot_order">'
    cell.innerHTML = html_shoot_order_form;
    
    var columns = table.rows[1].cells.length
    current_x_table = String(columns);
    html_x_table = '<input class="form-control" type="hiddden" value=' + current_x_table + 'name="x_table">'
    
    // 追加ボタンを追加
    var cell = table.rows[0].insertCell(-1);

    new_button = '<input type="button" value="追加" onclick="insert_column(' + '\'' + id + '\'' +')">';
    console.log(new_button);
    cell.innerHTML = new_button;
  }
  
  // 列削除
  function deleteColumn(id){
    // テーブル取得
    var table = document.getElementById(id);
    // 行数取得
    var rows = table.row.length;
  
    // 各行末のセルを削除
    for (var i=0;i<rows;i++){
      var cols = table.rows[i].cells.length;
      if(cols < 2){
        continue;
      }
      table.rows[i].deleteCell(-1);
    }
  }
  </script>

<head>
  <meta charset=" UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'hit_record_app/css/bootstrap.min.css' %}">
  {% block extra_css %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mt-3 mb-3">
      <a class="navbar-brand" href="/hit_record_app/home/">KAIKYU</a>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item active">
              <a class="nav-link">ユーザ名：{{ user.get_username }}</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/accounts/logout/">ログアウト</a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a class="nav-link" href="/accounts/login/">ログイン</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content %}
      {{ content }}
      {% endblock %}
    </div>

</body>

</html>