{% extends "hit_record_app/base.html" %}
{% load bootstrap4 %}
{% block title %}選手IDの入力{% endblock title %}
{% block content %}

<h4 class="mt-4 mb-5 border-bottom">選手IDの入力</h4>

<form action="{% url 'hit_record_app:add_hit' competition_id=competition_id match_id=match_id %}" method="POST">
  <table class="table" id="player_table_for_hit">
    <tr>
      <td>選手ID</td>
      <td>
        <input class="form-control" 
        type="text" value="{{ player_id }}"  name="player_id">
      </td>
      <td>
        <input type="button" value="追加" onclick="insert_column('player_table_for_hit')">
      </td>
    </tr>
    <tr>
      <td>立順</td>
      <td>
        <input class="form-control" 
        type="text" value="" name="shoot_order">
        <input class="form-control" 
        type="hidden" value=2 name="x_table">
      </td>
    </tr>
  </table>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">的中記録開始</button>
</form>
<br>

<a href="{% url 'hit_record_app:match_list' competition_id=competition_id %}" class="btn btn-secondary btn-sm">
  戻る
</a>
{% endblock content %}