{% extends "cms/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="table.css">
{% endblock %}

{% block content %}
<h4 class="mt-4 border-bottom">ホーム</h4>
<a href="{% url 'cms:add_competition' %}" class="btn btn-primary btn-sm my-3">追加</a>

<table class="competition_table" border="1">
  <thead>
    <tr>
      <th>大会ID</th>
      <th>大会名</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    {% for competition in competitions %}
    <tr>
      <td>{{ competition.id }}</td>
      <td>{{ competition.name }}</td>
      <td>
        <a href="{% url 'cms:edit_competition' competition_id=competition.id %}">編集</a>
      </td>
      <td>
        削除
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}