{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}的中記録の編集{% endblock title %}

{% block content %}

<h4 class="mt-4 mb-5 border-bottom">的中記録の編集</h4>
<table class="table">
  {% for current_shot in shots %}
  <tr>
    <td>
      {{current_shot}}本目
    </td>
    {% for current_shooting_order in shooting_order %}
    <td>
      <select>
        <option value="○">○</option>
        <option value="×">×</option>
      </select>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
  <tr>
    <td>選手名</td>
    {% for current_shooting_order in shooting_order %}
    <td>
      a
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>立順</td>
    {% for current_shooting_order in shooting_order %}
    <td>
      a
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>団体名</td>
    {% for current_shooting_order in shooting_order %}
    <td>
      a
    </td>
    {% endfor %}
  </tr>
  <tr>
    <td>射場</td>
    {% for current_shooting_order in shooting_order %}
    <td>
      a
    </td>
    {% endfor %}
  </tr>
</table>

</table>

<a href="{% url 'cms:match_list' competition_id=competition_id %}" class="btn btn-secondary btn-sm">
  戻る
</a>
{% endblock content %}