{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}大会の編集{% endblock title %}

{% block content %}
<h4 class="mt-4 mb-5 border-bottom">大会の編集</h4>

<center>
  <font size="5"></font><br>
  </font>
</center>

{% if competition_id %}
<form action="{% url 'cms:edit_competition' competition_id=competition_id %}" method="post">
  {% else %}
  <form action="{% url 'cms:add_competition' %}" method="post"></form>
  {% endif %}
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' %}
  <div class="form-group row">
    <div class="offset-md-3 col-md-9">
      <button type="submit" class="btn btn-primary">送信</button>
    </div>
  </div>
</form>
<a href="{% url 'cms:home' %}" class="btn btn-secondary btn-sm">戻る</a>

{% endblock content %}