{% extends "cms/base.html" %}
{% block extra_css %}
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<style>
  .button {
    display: flex;
    width: 48px;
    height: 32px;
    line-height: 32px;
    background-color: #3692ff;
    color: #fff;
    justify-content: center;
    align-items: center;
  }

  .button>span:nth-of-type(1) {
    display: none;
  }

  .button>span:nth-of-type(2) {
    display: none;
  }

  .button.hit>span:nth-of-type(1) {
    display: inline;
  }

  .button.hit>span:nth-of-type(2) {
    display: none;
  }

  .button.miss>span:nth-of-type(1) {
    display: none;
  }

  .button.miss>span:nth-of-type(2) {
    display: inline;
  }
</style>
<script>
  $(function () {
    $('.button').on('click', function (event) {
      event.preventDefault();
      var classVal = $(this).attr('class')
      if (classVal == 'button') {
        $(this).addClass('hit')
      }
      else if (classVal == 'button hit') {
        $(this).addClass('miss').removeClass('hit')
      }
      else if (classVal == 'button miss') {
        $(this).removeClass('miss')
      }
    });
  });
</script>
{% endblock %}

{% load bootstrap4 %}

{% block title %}的中記録の編集{% endblock title %}

{% block content %}

<h4 class="mt-4 mb-5 border-bottom">的中記録の編集</h4>

{% if player %}
{{player.name}}
exist
<form>
  <table class="table">
    {% for current_shot in shots %}
    <tr>
      <td>
        {{current_shot}}本目
      </td>
      {% for current_shooting_order in shooting_order %}
      <td>
        <div class="button" data-text-default="Click" data-text-clicked="Done">
          <span>〇</span>
          <span>×</span>
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    <tr>
      <td>選手ID</td>
      {% for current_shooting_order in shooting_order %}
      <td>
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td>選手名</td>
      {% for current_shooting_order in shooting_order %}
      <td>
        a
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td>立順</td>
      {% for current_shooting_order in shooting_order %}
      <td>
        {{ current_shooting_order }}
        <input type="hidden" name="range[]" value= />
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td>団体名</td>
      <td colspan="3">
        東京都
      </td>
      <td colspan="3">
        京都府
      </td>
    </tr>
    <tr>
      <td>射場</td>
      <td colspan="3">
        第2射場
      </td>
      <td colspan="3">
        第1射場
      </td>
    </tr>
  </table>
</form>
{% else %}
{{player.name}}
test

<form action="{% url 'cms:get_players' competition_id=competition_id match_id=match_id %}" method="POST">
  <table class="table">
    <tr>
      <td>選手ID</td>
      {% for current_shooting_order in shooting_order %}
      <td>
        <input class="form-control" type="text" value="1" name="player_id">
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td>選手名</td>
      {% for current_shooting_order in shooting_order %}
      <td>
        a
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td>立順</td>
      {% for current_shooting_order in shooting_order %}
      <td>
        {{ current_shooting_order }}
        <input type="hidden" name="range[]" value= />
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td>団体名</td>
      <td colspan="3">
        東京都
      </td>
      <td colspan="3">
        京都府
      </td>
    </tr>
    <tr>
      <td>射場</td>
      <td colspan="3">
        第2射場
      </td>
      <td colspan="3">
        第1射場
      </td>
    </tr>
  </table>
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">的中記録開始</button>
</form>
{% endif %}
<br>

<a href="{% url 'cms:match_list' competition_id=competition_id %}" class="btn btn-secondary btn-sm">
  戻る
</a>
{% endblock content %}