{% extends "cms/base.html" %}
{% load bootstrap4 %}

{% block title %}的中記録の編集{% endblock title %}

{% block content %}

<h4 class="mt-4 mb-5 border-bottom">的中記録の編集</h4>


<table class=table>
  {% for current_shot in shot_range%}
  <tr>
    <td>
      {{current_shot}}
      本目
    </td>
    {% for current_player in player_range %}
    <td>
      <select>
        <option value="○">○</option>
        <option value="×">×</option>
      </select>
    </td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<a href="{% url 'cms:match_list' competition_id=competition_id %}" class="btn btn-secondary btn-sm">
  戻る
</a>
{% endblock content %}