{% extends "cms/base.html" %}
{% block content %}
<h4 class="mt-4 border-bottom">選手一覧</h4>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">選手ID</th>
      <th scope="col">選手名</th>
      <th scope="col">団体名</th>
      <th scope="col">称号段位</th>
      <th scope="col">競技順位</th>
    </tr>
  </thead>
  <tbody>
    <!-- {% for player in players %}
    <tr>
      <td>{{ player.id }}</td>
      <td><a href="{% url 'cms:edit_player' competition_id=competition_id player_id=player.id %}">
          {{ player.name }}
        </a>
      </td>
      <td>
        <a href="{% url 'cms:edit_player' competition_id=competition_id player_id=player.id %}"
          class="btn btn-outline-primary btn-sm">編集</a>

        <a href="{% url 'cms:delete_player' competition_id=competition_id player_id=player.id %}"
          class="btn btn-outline-danger btn-sm">削除</a>
      </td>
    </tr>
    {% endfor %} -->
  </tbody>
</table>
{% endblock content %}