{% extends "hit_record_app/base.html" %}
{% block extra_css %}
<style>
  .input_hit {
    display: flex;
    width: 48px;
    height: 32px;
    line-height: 32px;
    background-color: #3692ff;
    color: #fff;
    justify-content: center;
    align-items: center;
  }
</style>
{% endblock %}

{% load bootstrap4 %}

{% block title %}的中記録の編集{% endblock title %}

{% block content %}

<h4 class="mt-4 mb-5 border-bottom">的中記録の編集</h4>

<form action="{% url 'hit_record_app:save_hit' competition_id=competition_id match_id=match_id %}" method="post">
  <table class="table" id="hit_table">
    <tr>
      <td>
        <input type="button" value="追加" onclick="insert_hit_row('hit_table')">
      </td>
    </tr>
    {% if existing_hits %}
    {% for current_shot in existing_hits %}
    <tr>
      <td>{{current_shot.shot_num}}本目</td>
      {% for current_player_hit in current_shot.hit %}
      <td align="center">
        <div class="input_hit">
          <input type="hidden" name="hit_records" value={{ current_player_hit }}>
          {{ current_player_hit }}
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% else %}
    <tr>
      <td>1本目</td>
      {% for current_shooter in shoot_order %}
      <td align="center">
        <div class="input_hit">
          <input type="hidden" name="hit_records" value=" ">
        </div>
      </td>
      {% endfor %}
    </tr>
    {% endif %}
    <tr>
      <td>選手ID</td>
      {% for player in players %}
      <td align="center">
        <input type="hidden" name="player_ids" value={{ player.id }} />
        {{player.id}}
      </td>
      {% endfor %}
    <tr>
      <td>選手名</td>
      {% for player in players %}
      <td align="center">
        {{player.name}}
      </td>
      {% endfor %}
    </tr>
    <tr>
      <td>立順</td>
      {% for current_shoot_order in shoot_order %}
      <td align="center">
        {{ current_shoot_order }}
        <input type="hidden" name="shoot_orders" value={{ current_shoot_order }} />
      </td>
      {% endfor %}
    </tr>
  </table>
  <br />
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">記録を保存する</button>
</form>
<br>

<form action="{% url 'hit_record_app:change_player' competition_id=competition_id match_id=match_id %}" method="post">
  {% for player in players %}
      <td align="center">
        <input type="hidden" name="player_ids" value={{ player.id }} />
      </td>
  {% endfor %}
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">選手を変更する</button>
</form>

<br>

<a href="{% url 'hit_record_app:match_list' competition_id=competition_id %}" class="btn btn-secondary btn-sm">
  戻る
</a>

<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>

<script>
  $(function () {
    $('.input_hit').on('click',function () {
      console.log('Hello');
      event.preventDefault();
      var classVal = $(this).attr('class')
      if (classVal == 'input_hit') {
        $(this).addClass('hit')
        $(this).empty()
        $(this).append('<input type="hidden" name="hit_records" value= "〇"/>')
        $(this).append('〇')
      }
      else if (classVal == 'input_hit hit') {
        $(this).addClass('miss').removeClass('hit')
        $(this).empty()
        $(this).append('<input type="hidden" name="hit_records" value= "×"/>')
        $(this).append('×')
      }
      else if (classVal == 'input_hit miss') {
        $(this).removeClass('miss')
        $(this).empty()
        $(this).append('<input type="hidden" name="hit_records" value= " "/>')
      }
    });
  });

  // 的中行追加
  function insert_hit_row(id){
    // テーブル取得
    const table = document.getElementById(id);
 
    // 各列先頭にセルを追加
    // 1行目
    table.rows[0].deleteCell(0); // 追加ボタンを一旦削除
    // 行射番号の描画
    const cell_shot_number = table.rows[0].insertCell(0);
    const number_shot = table.rows.length-3;
    cell_shot_number.innerHTML = String(number_shot) + '本目';
    
    // 的中入力セルの追加
    const num_shooter = table.rows[1].cells.length-1;
    const html_hit_form = '<div class="button"><input type="hidden" name="hit_records" value=" "></div>'
    for (let current_shooter = 0; current_shooter < num_shooter; current_shooter++){
      let cell_shot = table.rows[0].insertCell(-1);
      cell_shot.innerHTML = html_hit_form;
      cell_shot.align = "center";

    }

    // 追加ボタンを追加
    const row_new_add_button = table.insertRow(0)
    const cell_new_add_button = row_new_add_button.insertCell(0)
    const new_button_html = '<input type="button" value="追加" onclick="insert_hit_row(' + '\'' + id + '\'' +')">';
    cell_new_add_button.innerHTML = new_button_html;
  }

</script>
{% endblock content %}





