{% extends "base.html" %}
{% block content %}


{% block contents %}
<div class="conteiner">
  <div class="row">
    <div class="my-div-style">
      <h1>Log In</h1>
      <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}

        {{ form.as_p }}

        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}

        <button class="btn btn-primary" type="submit">ログイン</button>
        <p><a class="button secondaryAction" href="{% urel 'account_reset_password' %}">パスワードを忘れましたか？</a></p>
      </form>
    </div>
  </div>
</div>



<br>
<div class="col text-right">
  <a href="{% url 'cms:home' %}" class="floot-right">ログインせずに利用する</a>
</div>

{% endblock %}

