{% extends 'base.html' %}

{% block title %}
Password reset done | KAIKYU
{% endblock %}

{% block contents %}
<div class="container">
  <div class="row">
    <div class="my-div-style">
      <h1>
        {% if token_fail %}
          不正トークン
        {% else %}
          パスワードリセット
        {% endif %}
      </h1>

      {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}

      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}